<!DOCTYPE html>
<html>

  <head>
    <meta name="home" content="width=device-width, initial-scale=1" charset="utf-8" lang="en">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
  </head>

  <body>
    <div class="sidenav">      
      <a id="UpdateScreen1">Screen 1</a>
      <a id="UpdateScreen2">Screen 2</a>
      <a id="FetchData">Fetch Data</a>
    </div>
    <div id="app">
      <option-panel v-bind:param="option"></option-panel>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script language = "JavaScript">
    require('../js/home.js')
  </script>

</html>
