<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" lang="en">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div id="app">
      <div class="grid-container movie-display">
        <movie-element v-for="movie in movieList" v-bind:movie="movie"></movie-element>        
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    require('../js/movieDisplay.js')
  </script>

</html>
