<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app">
    <transition name="fade">
      <ol class="movie-display" v-if="show">
        <movie-element v-for="item in movie" v-bind:movie-elem="item"></movie-element>
      </ol>
    </transition>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
require('../js/slideShow.js')
</script>

</body>

</html>
