body {
  font-family: "Lato", sans-serif;
  padding: inherit;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav {
  position: absolute;
  height: 100%;
  width: 25vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #111;
}

.sidenav > * {
  top: 50%;
  color: white;
  display: block;
  position: relative;
  text-align: center;
  width: cover;
  height: 10vh;
  background-color: red;
  margin: 4% 2%;
  padding-top: calc(10vh/2);
  font-size: 1.5em;
}

.sidenav > *:hover {
  opacity: 0.7;
}

.sidenav > *:active {
  opacity: 0.4;
}
