
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background-color: black;
  overflow-y: hidden;
  box-sizing: border-box;
}

.fade-enter-active {
  transition: all 700ms ease-in;
  color: white;
}
.fade-leave-active {
transition: all 700ms ease-out;
color: black;
}

.grid-container {  
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container > div {
  margin: 2vh 2vw 2vh 2vw;
}

.grid-element > * {
  display: block;
}

.image-background {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("assets/tamère.png") repeat 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
}
