body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background-color: black;
}

.movie-display {
  color: white;
}

ol.movie-display {
  padding: 0;
}

.fade-enter-active {
  transition: all 2s ease-in;
  color: white;
}
.fade-leave-active {
  transition: all 2s ease-out;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-container > div {
  margin: 2vh 2vw 2vh 2vw;
}

.grid-element > * {
  display: block;
}
