body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background-color: black;
}

#movie-display {
    color: white;
}

.shade {
  animation-name: example ;
  animation-duration: 2s;  
}

@keyframes example  {
    0% {color: black;}
    50% {color: white;}
    100% {color: black;}
}
